    body {
        text-align: center;
        margin: 3px;
        background-color: lightgray;
    }    

    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-content-full-width  {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color: #ececec !important 
    }

    .modal-header-full-width  {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width  {
        border-top: 1px solid #9ea2a2 !important;
    }
    .modal-table-div {
        text-align: "center";
        margin: "auto";
    }

    table {
        table-layout: fixed;
        text-align: center;
        width: 100%;
        border: 2px solid black;
    }
    thead {
        background-color: #F8F5E1;
        color: black;
        border-bottom: 2px solid black;
    } 
    td {
        width: 20%;
        position: relative;
        border: 1px solid black;
    }
    td.header {
        background-color: #F8F5E1;
        font-size: 50px;
        font-weight: bold;
    } 
    td.unselected {
        background-color: #F8F5E1;
        font-size: 20px;
    }
    td.selected {
        background-color: #218F02;
        color: white;
        font-size: 20px;
    }
    td:after {
        content: '';
        display: block;
        margin-top: 100%;
    } 
    td .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;  /*Aligns vertically center */
        justify-content: center; /*Aligns horizontally center */
    }